.left-sider .ant-layout{
height: 100vh;
}
body {
    font-family: 'Poppins' !important;
}

h3,h4,p{
    margin-bottom: 0px !important;
}

.static-card{
    background: white;
    padding: 25px 5px;
}

.small-cards .ant-card-body{
    padding: 0px;
}